<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.polarcape.plugins.documenthandler"
        version="1.0.5">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>Document Handler</name>
    <description>A phonegap plugin to handle documents (f.e. PDFs) given by URL. </description>
    <keywords>cordova,Documents,PDF</keywords>
    <repo>https://github.com/ti8mag/DocumentHandler.git</repo>

    <license>Apache 2.0</license>

    <js-module src="www/DocumentHandler.js" name="DocumentHandler">
        <clobbers target="DocumentHandler" />
    </js-module>
  
    <dependency id="cordova-plugin-file" version="^4.0.0" />

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DocumentHandler" >
                <param name="android-package" value="ch.ti8m.phonegap.plugins.DocumentHandler"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/DocumentHandler.java" target-dir="src/ch/ti8m/phonegap/plugins" />

    </platform>

    <platform name="ios">
		
        <config-file target="config.xml" parent="/*">
            <feature name="DocumentHandler">
                <param name="ios-package" value="DocumentHandler"/>
            </feature>
        </config-file>
        
        <framework src="AssetsLibrary.framework" />

        <framework src="QuickLook.framework" />

        <source-file src="src/ios/DocumentHandler.m" />

        <header-file src="src/ios/DocumentHandler.h" />

    </platform>


</plugin>
